* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    width: 100%;
    height: auto;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg {
    width: 100%;
    height: 300px;
    background-image: url(./images/cyxi-asviaanpgc_41j2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-section {
    width: 90%;
    height: 400px;
    margin: auto;
    background-color: #000;
    background-image: url(./images/fireflies.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.about-text {
    width: 600px;
    height: 90%;
    padding: 30px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    background: rgba(0, 0, 0, .8);
    color: rgb(129, 127, 127);
    font-family: 'Bebas Neue', cursive;
    text-align: justify;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .8);
}
.about-text p {
    font-size: 14px;
    font-family: arial;
}

.gallery-section {
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(./images/ellie-3.jpg );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.title-container {
    width: 600px;
    height: auto;
    padding-left: 2%;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #fafafa;
    text-align: justify;
}
.image-container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.col1 {
    width: 300px;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c1-a {
    width: 300px;
    height: 255px;
    background-image: url(https://i.pinimg.com/originals/86/85/be/8685be8146fda80e149fb295a3a33b79.jpg);
    background-size: cover;
    cursor: pointer;
}
.c1-b {
    width: 300px;
    height:135px;
    background-image: url(https://www.muycomputer.com/wp-content/uploads/2020/05/The-Last-of-Us-Part-II.jpg);
    background-size: cover;
    cursor: pointer;
    box-sizing: border-box;
}
.c1-a:hover {
    opacity: 0.5;
    transition: all ease 0.2s;
}
.c1-b:hover {
    opacity: 0.5;
    transition: all ease 0.2s;
}
.col2 {
    width: 280px;
    height: 395px;margin-left: 5px;
    background-image: url(https://i.pinimg.com/originals/ef/03/4b/ef034bbc35c150b7e9f4e9e69ce21944.jpg);
    background-size: cover;
    cursor: pointer;
}
.col2:hover { 
    opacity: 0.5;
    transition: all ease 0.2s;
}

.xp-not {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);
    font-family: 'Bebas Neue', cursive;
}
.xp {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);
}
.vid-container {
    position: relative;
    width: 1200px;
    max-width: 1200px;
    height: 800px;
    max-height: 800px;
}
.vid-container-bg {
    position: relative;
    width: 1200px;
    max-width: 1200px;
    height: 800px;
    max-height: 800px;
    z-index: -1;
}
.play-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
   
}
.play-container h1 {
    font-family: 'Bebas Neue', cursive;
    color: #a5a4a4;
    margin-bottom: 20px;
}
.play-container p {
    color: #a5a4a4;
    font-size: 36px;
    margin-bottom: 20px;
}
.btn-play {
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #a5a4a4;
    transition: all 0.2s ease-in-out;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.btn-play:hover {
    background: #fafafa;
}
.btn-play-kill {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #a5a4a4;
    transition: all 0.2s ease-in-out;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.btn-play-kill:hover {
    background: #fafafa;
}

.btn-action {
    position: absolute;
    top: 35%;
    left: 65%;
    width: 75px;
    height: 75px;
    font-size: 38px;
    border-radius: 50%;
    border: 1px solid gray;
    z-index: 1000;
    background: #323232;
    box-shadow: 0 0 2px 2px #fafafa;
    cursor: pointer;
    color: #fafafa;
    animation-name: traslacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.btn-action2 {
    position: absolute;
    top: 35%;
    left: 65%;
    width: 75px;
    height: 75px;
    font-size: 38px;
    border-radius: 50%;
    z-index: 1000;
    background: #323232;
    box-shadow: 0 0 2px 2px #fafafa;
    cursor: pointer;
    color: #fafafa;
    animation-name: traslacion2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.btn-action3 {
    position: absolute;
    top: 57%;
    left: 52%;
    width: 75px;
    height: 75px;
    font-size: 38px;
    border-radius: 50%;
    z-index: 1000;
    background: #323232;
    box-shadow: 0 0 2px 2px #fafafa;
    cursor: pointer;
    color: #fafafa;
    animation-name: traslacion3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.count_container {
    width: 200px;
    height: auto;
    z-index: 10;
    position: absolute;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 82px;
    font-family: 'Bebas Neue', cursive;
}
.count_container p {
    font-size: 28px;
}
.first {
    color: rgb(255, 72, 0);
}
.second {
    color: rgb(253, 208, 5);
}
.third {
    color: rgb(165, 250, 7);
}
.success {
    color: rgb(7, 250, 19);
}

.btn-vid-close {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 80px;
    right: 15px;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 2px;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-vid-close:hover {
    background-color: #fafafa;
}

.about-game {
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.game-img {
    width: 600px;
    height: 90%;
    background-image: url(./images/collect.png );
    background-size: contain;
    background-repeat: no-repeat;
}
.game-section {
    width: 600px;
    height: 90%;
    color: #fafafa;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/ellie-5.jpeg );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.game-text {
    margin-bottom: 15px;
    font-size: 22px;
}
.game-link {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-buy {
    width: 120px;
    height: 40px;
    margin: auto;
    background-color: transparent;
    color: #fafafa;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fafafa;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-buy:hover {
    background-color: #fafafa;
    border: none;
    color: #000;
}

.footer {
    width: 100%;
    height: 500px;
    background-image: url(./images/foot.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container {
    width: 80%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}
.footer-container-bottom {
    width: 80%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}
.naughty {
    width: 200px;
    height: 50px;
    background-image: url(./images/naughty.png );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}
.ps4 {
    width: 200px;
    height: 50px;
    background-image: url(./images/ps4.png );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

/*SLIDER*/
.slider {
    position: fixed;
    width: 100%;
    top: 0;
    align-self: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
  }
  .image {
    width: auto;
    height: 600px;
    border-radius: 10px;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 1.5rem;
    color: #fafafa;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
  }
  .right-arrow:hover {
    color: rgb(129, 127, 127);
    transition: all ease 0.2s;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 1.5rem;
    color: #fafafa;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
  }
  .left-arrow:hover {
      color: rgb(129, 127, 127);
      transition: all ease 0.2s;
  }
  .close {
    position: absolute;
    top: 5%;
    right: 32px;
    font-size: 1.5rem;
    color: #fafafa;
    z-index: 10;
    cursor: pointer;
    background: rgba(0, 0, 0, .8);
    outline: none;
    border: none;
  }
  .close:hover {
    color: rgb(129, 127, 127);
    transition: all ease 0.2s;
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  @keyframes traslacion {     
      0% { top: 35%; left: 65%; }   
      10% { top: 38%; left: 66%; box-shadow: 0 0 3px 3px rgb(7, 250, 19)}
      13% { top: 40%; left: 67%; box-shadow: 0 0 10px 10px rgb(7, 250, 19)} 
      17% { top: 45%; left: 55%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
      25% { top: 47%; left: 60%; box-shadow: 0 0 10px 10px rgb(7, 250, 19)}
      35% { top: 50%; left: 65%; box-shadow: 0 0 3px 3px rgb(7, 250, 19)}
      40% { top: 51%; left: 63%; box-shadow: 0 0 10px 10px rgb(7, 250, 19)}
      45% { top: 37%; left: 55%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
      55% { top: 25%; left: 50%; box-shadow: 0 0 10px 10px rgb(7, 250, 19)}
      68% { top: 30%; left: 55%; box-shadow: 0 0 3px 3px rgb(7, 250, 19)}
      75% { top: 35%; left: 45%; box-shadow: 0 0 10px 10px rgb(7, 250, 19);}
      100% { top: 35%; left: 45%; box-shadow: 0 0 3px 3px rgb(7, 250, 19)}  
  }
  @keyframes traslacion2 {     
    0% { top: 20%; left: 45%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);} 
    20% { top: 25%; left: 40%; box-shadow: 0 0 10px 10px rgb(7, 250, 19);} 
    35% { top: 45%; left: 36%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}   
    55% { top: 50%; left: 40%; box-shadow: 0 0 10px 10px rgb(7, 250, 19);}
    100% { top: 50%; left: 40%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
  }
  @keyframes traslacion3 {     
    0% { top: 55%; left: 52%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
    15% { top: 52%; left: 48%; box-shadow: 0 0 10px 10px rgb(7, 250, 19);}   
    25% { top: 58%; left: 33%; box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
    70% { top: 60%; left: 35%; box-shadow: 0 0 10px 10px rgb(7, 250, 19);}
    100% { top: 60%; left: 35%;  box-shadow: 0 0 3px 3px rgb(7, 250, 19);}
  }

  @media screen and (min-width: 1700px) {
    .about-section {
        width: 80%;
    }
    .gallery-section {
        width: 80%;
        height: 500px;
        margin: auto;
    }
    .slider {
        width: 80%;
      }
      .left-arrow {
        font-size: 3rem;  
      }
      .right-arrow {
        font-size: 3rem;
      }
      .close {
        font-size: 3rem;
      }
      .about-game {
          width: 80%;
          margin: auto;
      }
  }

  @media screen and (max-width: 1200px) {
        .gallery-section {
            height: auto;
            flex-direction: column;
        }
        .xp {
            display: none;
        }
        .xp-not {
            display: block;
            height: 300px;
            color: #a5a4a4;
            text-align: center;
        }
        .xp-not h1 {
            margin-top: 45px;    
        }
        .about-game {
            width: 80%;
            margin: auto;
        }
        .game-section {
            background-position: center;
        }
  }
 
  @media screen and (max-width: 660px) {
    .about-section {
        width: 90%;
        height: 600px;
        margin: auto;
        background-color: #000;
        background-image: url(./images/fireflies.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    .about-text {
        width: 300px;
        height: 90%;
        padding: 30px;
        margin-left: 5%;
    }
    .about-text p {
        font-size: 14px;
        font-family: arial;
    }
    .gallery-section {
        width: 80%;
        height: 500px;
        background-position: top;
    }
    .title-container {
        width: 300px;
        height: auto;
        padding-left: 2%;
        font-size: 22px;
    }
    .image-container {
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .col1 {
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .c1-a {
        width: 100%;
        height: 120px;
    }
    .c1-b {
        width: 100%;
        height:75px;
    }
    .col2 {
        width: 280px;
        height: 200px;
    }
    .xp-not h1 {
        margin-top: 70px;    
    }
    .image {
        width: auto;
        height: 300px;
    }
    .right-arrow:hover {
        color: #fafafa;
    }
    .left-arrow:hover {
        color: #fafafa;
    } 
    .about-game {
        width: 80%;
        height: 700px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center;
    }
    .game-img {
        width: 80%;
        height: 90%;
        background-position: center;
    }
    .game-section {
        width: 100%;
        height: 90%;
    }
    .footer {
        width: 100%;
        height: 500px;
        background-image: url(./images/foot.jpg );
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-container-bottom {
    width: 80%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
  }

  @media screen and (max-width: 660px) {
    .about-text {
        margin-left: 0;
    }
  }
  

